<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Page</title>
</head>
<body>

<table style=" width: 100%; border: 1px black;">
    <tr>
        <td style="border: 1px black; text-align: center">
            <a>Edit User</a>
        </td>
    </tr>
</table>
<br/>

<form style="border: 1px black; text-align: center"
      action="/edit" method="POST">

    <input type="hidden" th:value="${user.getId()}" th:attr="name='Id'" />
    First name:<input type="text" th:value="${user.getFirstName()}" th:attr="name='FirstName'">
   Last name:<input type="text" th:value="${user.getLastName()}" th:attr="name='LastName'">
    Email :<input type="text" th:value="${user.getEmail()}" th:attr="name='Email'">
    <input type="submit" value="save">

</form>
</body>
<p style="text-align: center">
    <a th:href="@{'/logout'}" >Out</a>
</p>
</html>